

<%- include('../../partials/head') %>



<br>
<br>
<br>
<br>

<h1 class="text-center text-capitalize font-weight-bolder text-success font-italic">welcome your dashboard page</h1>











<%- include('../../partials/footer') %>