<%- include('../partials/head') %>


<br>
<br>
<br>
<br>
<br>

<h1 class="text-capitalize text-center text-danger font-weight-bolder font-italic">This is home page</h1>











<%- include('../partials/footer') %>